html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #333;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  position: absolute;
}

td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

td.selected {
  font-size: 50px;
  font-weight: bolder;
}

.list-container {
  position: relative;
  min-height: 100%;
}

.letter-heading {
  font-size: 100px;
  margin: 0 10px;
}

.option {
  margin: 20px 0;
  font-size: 30px;
  position: relative;
}

button:focus {
  outline: 0;
}

.delete-button {
  position: absolute;
  top: 0;
  margin-left: 5px;
  width: 20px;
  height: 100%;
  visibility: hidden;
  background-color: red;
  float: right;
  border: 0;
  background-color: transparent;
  background-image: url('../svg/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.option:hover > .delete-button {
  visibility: visible;
}

.add-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url('../svg/add.svg');
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url('../svg/tarrow.svg');
  cursor: pointer;
}

@media (min-width: 500px) {
  table {
    width: 480px;
    height: 480px;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    background-color: rgba(200, 200, 200, 0.8);
    border: 2px solid white;
  }

  td {
    width: 120px;
    height: 80px;
    font-size: 50px;
  }

  td.selected {
    font-size: 70px;
  }
}

@media (max-width: 500px) {
  table {
    width: 300px;
    height: 450px;
    left: calc(50% - 150px);
    top: calc(50% - 225px);
  }

  td {
    width: 75px;
    height: 75px;
    font-size: 40px;
  }

  td.selected {
    font-size: 50px;
  }

  .picker-back-button {
    top: auto !important;
    bottom: 10px !important;
    left: calc(50% - 30px) !important;
  }

  .option {
    width: 100%;
  }

  .option > label {
    width: calc(100% - 50px);
    display: inline-block;
  }

  .delete-button {
    right: 5px;
    visibility: visible;
  }
}
